/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@400;500&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --text-color: #313130;
  --bg-color: #fafafa;
  --card-color: #f7f5f2;
  --border-color: #999999;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  background-color: var(--bg-color);
  color: var(--text-color);
}

body,
select,
button {
  font-family: "Montserrat", sans-serif;
}

input,
select,
button {
  border: none;
  outline: none;
}

.container {
  width: 100%;
  min-height: 100vh;
  padding: 3.2rem 2.4rem 0;
}

.math-game {
  max-width: 600px;
  padding-top: 3.2rem;
  background-repeat: no-repeat;
}

.math-game h1 {
  margin-bottom: 6.4rem;
  text-align: center;
  color: var(--bg-color);
  font-size: 4.4rem;
  text-transform: uppercase;
  font-family: "Mitr", sans-serif;
  letter-spacing: .4rem;
}

.game-options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.2rem;
  margin-bottom: 2.4rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: .8rem;
}

.input-group select,
.question-card input {
  border: 1px solid var(--border-color);
  border-radius: .5rem;
  padding: .4rem .8rem;
}

.input-group select {
  font-size: 1.6rem;
}

.question-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.4rem;
  font-size: 2.4rem;
  font-family: "Mitr", sans-serif;
}

.question-card input {
  width: 40%;
  font-size: 2.4rem;
  font-family: "Mitr", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn {
  width: 100%;
  padding-block: 1.2rem;
  border-radius: .5rem;
  /* background: linear-gradient(90deg, #845ef7, #cc5de8, #f06595, #ff6b6b); */
  /* color: #fff; */
  font-size: 1.8rem;
  cursor: pointer;
  margin-bottom: 2.4rem;
  font-weight: 700;
  transition: all .4s;
}

.game-history, th, td {
  border: 1px solid var(--border-color);
  padding: .8rem .4rem;
}

.game-history {
  visibility: hidden;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.game-history thead th {
  text-align: center;
  font-size: 1.2rem;
}

.show-table {
  visibility: visible;
}

/*=============== ADDITION ===============*/
.addition {
  background-image: url("/image/addition-bg.png");
}

.addition .btn {
  background-color: #cc5de8;
  color: #faeffd;
}

.addition .btn:hover {
  background-color: #b854d1;
}

.addition .game-history thead {
  background-color: #f0cef8;
  color: #140917;
}

/*=============== SUBTRACTION ===============*/
.subtraction {
  background-image: url("/image/subtraction-bg.png");
}

.subtraction .btn {
  background-color: #ff6b6b;
  color: #fff0f0;
}

.subtraction .btn:hover {
  background-color: #e66060;
}

.subtraction .game-history thead {
  background-color: #fff0f0;
  color: #190b0b;
}

/*=============== MULTI ===============*/
.multi {
  background-image: url("/image/multiplication-bg.png");
}

.multi .btn {
  background-color: #f06595;
  color: #fef0f4;
}

.multi .btn:hover {
  background-color: #c05177;
}

.multi .game-history thead {
  background-color: #fef0f4;
  color: #180a0f;
}

/*=============== DIVISION ===============*/
.division {
  background-image: url("/image/division-bg.png");
}

.division .btn {
  background-color: #845ef7;
  color: #f3effe;
}

.division .btn:hover {
  background-color: #6a4bc6;
}

.division .game-history thead {
  background-color: #f3effe;
  color: #0d0919;
}

/*=============== BREAKPOINTS===============*/
@media only screen and (min-width: 620px) {
  .container {
    padding: 3.2rem 4.8rem 0;
  }

  .math-game {
    margin: 1rem auto;
    border-radius: 1rem ;
  }
}